const model = require('../models/{{snakeCase}}.js');

module.exports = {
  get: query => {
    return model.get(query);
  },
  create: body => {
    return model.create(body);
  },
  update: body => {
    return model.update(body);
  },
  delete: id => {
    return model.delete(id);
  },
{{#isUser}}
  signin: (email, password) => {
    return model.signin(email, password);
  },
  signout: body => {
    return model.signout(body);
  },
{{/isUser}}
  watch: query => {
    return model.watch(query);
  }
};
