const model = require('../models/{{name}}.js');

module.exports = {
  get: model.get,
  create: model.create,
  update: model.update,
  delete: model.delete,
{{#isUser}}
  signin: model.signin,
  signout: model.signout,
{{/isUser}}
  watch: model.watch
};
