const Router = require('express').Router;
const _ = require('lodash');
const {{name}}Model = require('../models/{{name}}.js');
const router = Router();

const errHandlerFactory = res => {
  return err => {
    res.status(err.code || 500);
    res.json(err);
  };
};

const respond = (res, status) => body => {
  if (!body.result && !body.found) {
    res.status(404);
    return Promise.resolve(res.json({ err: 'Not found' }));
  }
  res.status(status || 200);
  return Promise.resolve(res.json(body));
};

module.exports = {
  http: router,
  socket: io => {
    const nsp = io.of('/{{pluralName}}');
    nsp.on('connection', socket => {
      {{name}}Model.watch(socket.handshake.query)
      .then(cursor => {
        cursor.each((err, data) => {
          if (!data) return null;
          if (data.state) return socket.emit('state', data);
          return socket.emit('record', data);
        });
      });
    });
  }
};

router
  .get('/{{pluralName}}', (req, res) => {
    {{name}}Model.get(req.query)
    .then(respond(res))
    .catch(errHandlerFactory(res));
  })
  .get('/{{pluralName}}/:id', (req, res) => {
    {{name}}Model.get(_.assign({ id: req.params.id }, req.query))
    .then(respond(res))
    .catch(errHandlerFactory(res));
  })
  .post('/{{pluralName}}', (req, res) => {
    {{name}}Model.create(req.body)
    .then(respond(res, 201))
    .catch(errHandlerFactory(res));
  })
  .put('/{{pluralName}}/:id', (req, res) => {
    {{name}}Model.update(req.body)
    .then(respond(res))
    .catch(errHandlerFactory(res));
  })
  .delete('/{{pluralName}}/:id', (req, res) => {
    {{name}}Model.delete(req.params.id)
    .then(respond(res))
    .catch(errHandlerFactory(res));
  });

{{#isUser}}
router
  .post('/{{pluralName}}/signin', (req, res) => {
    {{name}}Model.signin(req.body.email, req.body.password)
    .then(respond(res))
    .catch(errHandlerFactory(res));
  })
  .post('/{{pluralName}}/signout', (req, res) => {
    {{name}}Model.signout(req.body)
    .then(respond(res))
    .catch(errHandlerFactory(res));
  });
{{/isUser}}
