{{=<% %>=}}
{
  "type": "object",
  "name": "<%name%>",
  "pluralName": "<%pluralName%>",
  "properties": {
    "id": {
      "type": "string",
      "faker": "random.uuid"
    },
    "rev": {
      "type": "string",
      "pattern": "^[a-f0-9]{32}$/i"
    },
    "name": {
      "type": "string",
      "faker": "name.findName"
    <%#isUser%>
    },
    "email": {
      "type": "string",
      "faker": "internet.exampleEmail"
    },
    "password": {
      "type": "string",
      "faker": "internet.password"
    <%/isUser%>
    <%#singularRelationships%>
    },
    "<%name%>": {
      "type": "string",
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
    <%/singularRelationships%>
    <%#multiRelationships%>
    },
    "<%pluralName%>": {
      "type": "array",
      "items": {
        "type": "string",
        "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      }
    <%/multiRelationships%>
    }
  },
  <%#hasRelationships%>
  "links": [
    <%#singularRelationships%>
    {
      "rel": "<%name%>",
      "href": "/<%pluralName%>/{<%name%>}"
    }<%^isLast%>,<%/isLast%><%#isLast%><%#hasMultiRelationships%>,<%/hasMultiRelationships%><%/isLast%>
    <%/singularRelationships%>
    <%#multiRelationships%>
    {
      "rel": "<%name%>",
      "href": "/<%pluralName%>/{<%pluralName%>[]}"
    }<%^isLast%>,<%/isLast%>
    <%/multiRelationships%>
  ],
  <%/hasRelationships%>
  <%^isUser%>
  "required": ["name"]
  <%/isUser%>
  <%#isUser%>
  "required": ["name", "email", "password"]
  <%/isUser%>
}
