const r = require('../lib/db.js');

module.exports = () => {
  return r.tableCreate('{{pluralName}}').run()
  .catch((err) => {
    const errMsg = `Table \`${process.env.RETHINK_NAME}.{{pluralName}}\` already exists in:`;
    if (err.message.split('\n')[0] === errMsg) return;
    throw err;
  })
  .then(() => {
    r.table('{{pluralName}}').wait().run();
  });
  // .then(() => r.table('{{pluralName}}').indexCreate('name').run())
  // .catch(err => {
  //   if (err.message.indexOf('Index `name` already exists') > -1 ) return;
  //   throw err;
  // });
};
