const migrate = require('src/utils/migrate');
const schema = require('schema');

const DB_NAME = r._poolMaster._options.db;

const tables = require('./tables');

module.exports = () => {
  return r.dbCreate(DB_NAME).run()
  .catch((err) => {
    const arr = err.message.split('\n');
    if (arr[0] === `Database \`${DB_NAME}\` already exists in:`) return;
    throw err;
  })
  .then(() => Promise.all(tables.map(table => table())))
  .then(() => {
    if (process.env.AUTOMIGRATE === 'true') return migrate.up();
    return null;
  })
  .then(schema.setIndexes);
};
