const generate = require('json-schema-faker');
const _ = require('lodash');
const { schema } = require('../../config');
{{#isUser}}
const bandname = require('bandname');
{{/isUser}}

const modelSchema = schema.{{camelCase}};

module.exports = {
  valid: (omissions) => {
    const v = generate(modelSchema);
    {{#isUser}}
    v.password = bandname();
    {{/isUser}}
    return _.omit(v, omissions);
  }
};
