const jwt = require('./jwt');
const password = require('simple-password');
const HASH_ROUNDS = parseInt(process.env.HASH_ROUNDS, 10);

exports.hashPassword = function * hashPassword(params) {
  return Object.assign({}, params, params.password ? {
    password: yield password.create(params.password, HASH_ROUNDS)
  } : {});
};
