const fs = require('fs');

module.exports = {
  slurp: path => {
    const files = fs.readdirSync(`./${path}`);
    const filtered = files.filter(file => file !== 'index.js');
    return filtered.map(name => require(`${path}/${name}`));
  }
};
