const _ = require('lodash');

exports.normaliseParams = params => {
  return Object.keys(params).reduce((p, k) => {
    const param = params[k];

    p[k] = param;
    if (!isNaN(Number(param))) p[k] = Number(param);
    if (param === 'true') p[k] = true;
    if (param === 'false') p[k] = false;

    return p;
  }, {});
}

// return the first query param found that is indexed (id takes precedence)
exports.getIndex = (schema, params) => {
  if (params.id) return "id";
  const fields = Object.keys(params);

  const properties = schema.properties;
  for (var key in params) {
    if (params.hasOwnProperty(key)) { 
      if (properties[key] && properties[key].indexed) return key;
    }
  }
  return null;
}
