var jwt = require('jsonwebtoken');

exports.verify = function(token, opts) {
  return new Promise((resolve, reject) => {
    opts = opts || {};
    jwt.verify(token, process.env.JWT_SECRET, opts, (err, decoded) => {
      if (err) return reject(err);
      return resolve(decoded);
    });
  });
};

exports.sign = function(data, expires) {
  return jwt.sign(data, process.env.JWT_SECRET, expires);
}
