const _ = require('lodash');
const jsen = require('jsen');
const schema = require('../schema').getSchema();

// filter out params that do not exist as properties on the schema
exports.filter = (name, params) => {
  const properties = schema[name].properties;
  return _.reduce(params, (result, value, key) => {
    if (properties[key]) result[key] = value;
    return result
  }, {})
}

exports.validate = jsen(schema)
