const jsen = require('jsen');
const schema = require('../schema');

exports.filter = (name, params) => {
  return Object.keys(schema[name].properties).reduce((p, prop) => {
    p[prop] = params[prop];
    return p;
  }, {});
}

exports.validate = jsen(schema)
