const { Router } = require('express');
const schema = require('schema').getSchema();

module.exports = {
  http: new Router()
    .get('/schema', (req, res) => res.json(schema)),
  socket: () => {}
};
