const _ = require('lodash');
const jsen = require('jsen');
const appSchema = require('../schema').getSchema();

// filter out params that do not exist as properties on the schema
exports.filter = (name, params) => {
  const properties = appSchema[name].properties;
  return _.reduce(params, (result, value, key) => {
    const schemaProp = properties[key];
    if (schemaProp) {
      // query string will not be cast into an array if a single value was
      // provided convert it back to an array so query is successful
      if (schemaProp.type === 'array' && !_.isArray(value)) value = [value];
      result[key] = value;
    }
    return result;
  }, {});
};

exports.getValidator = (name) => {
  const modelSchema = appSchema[name];
  return jsen(modelSchema);
};
