const uuid = require('uuid');
const {{pascalCase}} = require('../models').{{camelCase}};
{{#isUser}}
const HttpError = require('standard-http-error');
const password = require('simple-password');
const jwt = require('../../lib/jwt');
const HASH_ROUNDS = parseInt(process.env.HASH_ROUNDS, 10);
function * hashPassword(params) {
  return Object.assign({}, params, params.password ? {
    password: yield password.create(params.password, HASH_ROUNDS)
  } : {});
}
{{/isUser}}

module.exports = {
  *all() {
    // TODO query converter
    return yield {{pascalCase}}.run();
  },
  *find(id) {
    return yield {{pascalCase}}.get(id);
  },
  {{^isUser}}
  *create(params) {
    return yield new {{pascalCase}}(
      Object.assign({ rev: uuid.v4() }, params)
    ).save();
  },
  *update(params) {
    const {{snakeCase}} = yield this.find(params.id);
    return yield {{snakeCase}}.merge(params).save();
  },
  {{/isUser}}
  {{#isUser}}
  *create(params) {
    const data = Object.assign({ rev: uuid.v4() }, yield hashPassword(params));
    return yield new {{pascalCase}}(data).save();
  },
  *update(params) {
    const {{snakeCase}} = yield this.find(params.id);
    return yield {{snakeCase}}.merge(yield hashPassword(params)).save();
  },
  *signin(email, pass) {
    const [user] = yield {{snakeCase}}.getAll(email, { index: 'email' });

    if (!user) throw new HttpError('UNAUTHORIZED');

    const verified = yield password.verify(pass, user.password);
    if (!verified) throw new HttpError('UNAUTHORIZED');

    const token = yield jwt.sign({ id: user.id, role: user.role });

    return { token, user: Object.assign({}, user, { password: undefined }) };
  },
  {{/isUser}}
  *delete(id) {
    const {{snakeCase}} = yield this.find(id);
    return yield {{snakeCase}}.delete();
  },
  watch: query => {
    // TODO figure this
    return query;
  }
};
