const test = require('blue-tape');
const fetch = require('node-fetch');

const url = 'http://localhost:'+process.env.PORT;

test('GET should return CORS headers', t => {
  return fetch(url+'/schema')
  .then(res => {
    t.deepEqual(res.headers.get('access-control-allow-origin'), '*');
    t.deepEqual(res.headers.get('access-control-allow-headers'), 'Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, Api-Version, Response-Time');
    t.deepEqual(res.headers.get('access-control-allow-methods'), 'GET');
    t.deepEqual(res.headers.get('access-control-expose-headers'), 'Api-Version, Request-Id, Response-Time');
  });
});
