const jwt = require('jsonwebtoken');
const app = require('../../index').app;
const agent = require('doubleagent')(app);

const token = jwt.sign({ hello: 'world' }, process.env.JWT_SECRET);
const url = `/jwt/verify`;

describe('JWT authentication handling', () => {
  it('must accept a valid bearer token in a header', () => {
    return agent.get(url, {}, {
      Authorization: `Bearer ${token}`
    }).must.resolve.have.property('status', 200);
  });

  it('must throw 401 for an invalid JWT bearer', () => {
    return agent.get(url, {}, {
      Authorization: 'Bearer hackhackhack'
    }).must.resolve.have.property('status', 401);
  });

  it('must accept a valid JWT in a query string param', () => {
    return agent.get(url, { token })
    .must.resolve.have.property('status', 200);
  });

  it('must reject invalid JWT in the query string params', () => {
    return agent.get(url, { token: 'hack' })
    .must.resolve.with.property('status', 401);
  });
});
