const schema = require('schema').getSchema();

const app = require('../../src/app').app;
const agent = require('doubleagent')(app);

const url = `/schema`;

describe('/schema route', () => {
  it('must GET the schema data', () => {
    return agent.get(url)
    .then(({ body }) => {
      body.must.eql(schema);
    });
  });
});
