const fetch  = require('node-fetch');
const schema = require('schema').getSchema();
const url    = 'http://localhost:'+process.env.PORT+'/schema';

describe('/schema route', () => {
  it('must GET the schema data', () => {
    return fetch(url)
      .then(res => res.json())
      .must.resolve.eql(schema);
  });
});
