const generate = require('json-schema-faker');
const _ = require('lodash');
const appSchema = require('../schema.js').getSchema();
const schema = appSchema.{{camelCase}};
{{#isUser}}
const bandname = require('bandname');
{{/isUser}}

module.exports = {
  valid: (omissions) => {
    const v = generate(schema);
    {{#isUser}}
    v.password = bandname();
    {{/isUser}}
    return _.omit(v, omissions);
  }
};
