{{=<% %>=}}
{
  "type": "object",
  "name": "<%camelCase%>",
  "camelCasePlural": "<%camelCasePlural%>",
  "properties": {
    "id": {
      "type": "string",
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
      "faker": "random.uuid"
    },
    "rev": {
      "type": "string",
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
    },
    "name": {
      "type": "string",
      "faker": "name.findName"
    <%#isUser%>
    },
    "email": {
      "type": "string",
      "faker": "internet.exampleEmail"
    },
    "password": {
      "type": "string",
      "faker": "internet.password"
    <%/isUser%>
    <%#singularRelationships%>
    },
    "<%camelCase%>": {
      "type": "string",
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
    <%/singularRelationships%>
    <%#multiRelationships%>
    },
    "<%camelCasePlural%>": {
      "type": "array",
      "items": {
        "type": "string",
        "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      }
    <%/multiRelationships%>
    }
  },
  <%#hasRelationships%>
  "links": [
    <%#singularRelationships%>
    {
      "rel": "<%camelCase%>",
      "href": "/<%camelCasePlural%>/{<%camelCase%>}"
    }<%^isLast%>,<%/isLast%><%#isLast%><%#hasMultiRelationships%>,<%/hasMultiRelationships%><%/isLast%>
    <%/singularRelationships%>
    <%#multiRelationships%>
    {
      "rel": "<%camelCase%>",
      "href": "/<%camelCasePlural%>/{<%camelCasePlural%>[]}"
    }<%^isLast%>,<%/isLast%>
    <%/multiRelationships%>
  ],
  <%/hasRelationships%>
  <%^isUser%>
  "required": ["name"]
  <%/isUser%>
  <%#isUser%>
  "required": ["name", "email"]
  <%/isUser%>
}
