const r = require('../lib/db.js');

module.exports = () => {
  return r.tableCreate('{{snakeCasePlural}}').run()
  .catch((err) => {
    const errMsg = `Table \`${r._poolMaster._options.db}.{{snakeCasePlural}}\` already exists in:`;
    if (err.message.split('\n')[0] === errMsg) return;
    throw err;
  })
  .then(() => {
    r.table('{{snakeCasePlural}}').wait().run();
  });
  // .then(() => r.table('{{snakeCasePlural}}').indexCreate('name').run())
  // .catch(err => {
  //   if (err.message.indexOf('Index `name` already exists') > -1 ) return;
  //   throw err;
  // });
};
