const r = require('../lib/db.js');

const DB_NAME = `${process.env.RETHINK_NAME}${process.env.NODE_ENV === 'test' ? '_test' : ''}`;

module.exports = () => {
  return r.tableCreate('_migrations', { primaryKey: 'name' }).run()
  .catch((err) => {
    if (err.message.split('\n')[0] ===
      `Table \`${DB_NAME}._migrations\` already exists in:`) return;
    throw err;
  })
  .then(() => {
    r.table('_migrations').wait().run();
  });
};
