const r = require('lib/db.js');
const db = require('lib/db_helper.js');

const DB_NAME = db.getName();

module.exports = () => {
  return r.tableCreate('_migrations', { primaryKey: 'name' }).run()
  .catch((err) => {
    if (err.message.split('\n')[0] ===
      `Table \`${DB_NAME}._migrations\` already exists in:`) return;
    throw err;
  })
  .then(() => {
    r.table('_migrations').wait().run();
  });
};
