const fetch = require('node-fetch');
const url   = 'http://localhost:'+process.env.PORT;

describe('CORS middleware', () => {
  const CORS_HEADERS = {
    'access-control-allow-origin':   '*',
    'access-control-allow-headers':  'Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, Api-Version, Response-Time',
    'access-control-allow-methods':  'GET',
    'access-control-expose-headers': 'Api-Version, Request-Id, Response-Time'
  };

  it('returns the right access-control headers', () => {
    return fetch(url+'/schema')
      .then(res => {
        const headers = {};
        Object.keys(CORS_HEADERS).forEach(name => {
          headers[name] = res.headers.get(name);
        });
        return headers;
      })
      .must.resolve.eql(CORS_HEADERS);
  });
});
