const jwt = require('express-jwt');

const OPTS = {
  secret: process.env.JWT_SECRET,
  getToken: req => {
    const { authorization } = req.headers;
    const token = authorization && authorization.replace(/^Bearer\s+/, '');

    return token || req.query.token;
  }
};

module.exports = jwt(OPTS);
