const LINK = 'https://rethinkdb.com/docs/changefeeds/javascript/';

var RESTRICTED_FEED = 'WARNING: Changefeed is restricted and will only';
RESTRICTED_FEED += ' include updates to existing documents, not newly created';
RESTRICTED_FEED += ' documents. Read more here: ' + LINK;

exports.RESTRICTED_FEED = RESTRICTED_FEED;

