const LINK = 'https://rethinkdb.com/docs/changefeeds/javascript/';

const RESTRICTED_FEED = `WARNING: Changefeed is restricted and will only
include updates to existing documents, not newly created
documents. Read more here: ${LINK}`;

exports.RESTRICTED_FEED = RESTRICTED_FEED;
