{{#isUser}}
const { Router } = require('express');
{{/isUser}}
const { createRouter } = require('../utils/router');
const {{camelCasePlural}} = require('../controllers/{{snakeCasePlural}}');

{{#isUser}}
const serialize = {{camelCase}} => {
  const data = Object.assign({}, {{camelCase}});
  delete data.password;
  return data;
};

const customRouter = new Router()
  .post('/signin', function *(req, res) {
    const { user, token } = yield {{camelCasePlural}}.signin(req.body.email, req.body.password);
    res.json({ token, user: serialize(user) });
  })
  .post('/signout', function *(req, res) {
    res.json(yield {{camelCasePlural}}.signout(req.body));
  });

const defaultRouter = createRouter({{camelCasePlural}}, serialize);
customRouter.socket = defaultRouter.socket;

customRouter.use(defaultRouter);

module.exports = customRouter;
{{/isUser}}

{{^isUser}}
module.exports = createRouter({{camelCasePlural}});
{{/isUser}}
