const test = require('blue-tape');
const controller = require('../../lib/controller');

const INDEXED = {indexed: true}
const UUID = 'dc83f979-3485-49fc-b180-ba485d01a88f'

//.getIndexes
test('Given params match indexed properties, must return all matches', (t) => {
  const schema = { properties: { favMilk: INDEXED, pilot: INDEXED } }
  const params = {
    favMilk: 'blue',
    id: UUID,
    name: 'Luke Skywalker',
    pilot: true
  };
  const result = controller.getIndexes(schema, params);

  t.deepEqual(result, ["favMilk", "pilot"]);
  return t.end();
})

test('Given indexed properties that are not in params must not return these', (t) => {
  const schema = {
    properties: {pilot: INDEXED, sonOfVader: INDEXED, saberColour: INDEXED}
  }
  const params = {
    favMilk: 'blue',
    id: UUID,
    name: 'Luke Skywalker',
    pilot: true
  };
  const result = controller.getIndexes(schema, params);

  t.deepEqual(result, ["pilot"]);
  return t.end();
})

test('Given no params match indexed propertites, must return an empty array', (t) => {
  const schema = { properties: { favMilk: INDEXED, pilot: INDEXED } }
  const params = {
    sonOfVader: true,
    saberColour: 'green/blue'
  };
  const result = controller.getIndexes(schema, params);

  t.deepEqual(result, []);
  return t.end();
})
