{{=<% %>=}}
const migration = require('../../migrations/{{migrationName}}');

describe('{{migrationName}}', () => {
  it.skip('should migrate up', function * () {
    // FIXME write a test to ensure the up function works as expected
  });

  it.skip('should migrate down', function * () {
    // FIXME write a test to ensure the down function works as expected
  });
});
