version: '2'
services:
  {{snakeCasePlural}}:
    build: .
    environment:
      JWT_SECRET: foo
      RETHINKDB_URL: rethinkdb://rethinkdb:28015/{{snakeCasePlural}}
      PORT: 3005
    volumes:
      - ./bin:/opt/app/bin
      - ./config:/opt/app/config
      - ./src:/opt/app/src
      - ./migrations:/opt/app/migrations
      - ./package.json:/opt/app/package.json
      - ./start.js:/opt/app/start.js
      - ./test:/opt/app/test
    depends_on:
      - rethinkdb
    links:
      - rethinkdb
  rethinkdb:
    image: rethinkdb
