const fs = require('fs');
const cors = require('cors');
const app = require('express')();
const bodyParser = require('body-parser');
const server = require('http').createServer(app);
const io = require('socket.io')(server);

app.use(bodyParser.urlencoded({ extended: true }));
app.use(bodyParser.json());
app.use(cors());

fs.readdirSync('./middleware').forEach(name => {
  app.use(require('./middleware/' + name));
});

fs.readdirSync('./routes').forEach(name => {
  const route = require('./routes/'+name);
  app.use(route.http);
  route.ws(io);
});

app.use(function (err, req, res, next) {
  if (err.name === 'UnauthorizedError') {
    res.status(401).send('Invalid token');
  }
});

process.on('unhandledRejection', function(reason, p) {
  console.error("Unhandled Rejection at: Promise ", p, " reason: ", reason);
});

module.exports = server;
