const cors = require('cors');
const app = require('express')();
const bodyParser = require('body-parser');
const server = require('http').createServer(app);
const io = require('socket.io')(server);

const routes = require('./routes');
const middleware = require('./middleware');

app.use(bodyParser.urlencoded({ extended: true }));
app.use(bodyParser.json());
app.use(cors());

middleware.forEach(item => {
  if (item.http) app.use(item.http);
  if (item.socket) io.use(item.socket);
});

routes.forEach(route => {
  app.use(route.http);
  route.socket(io);
});

app.use((err, req, res) => {
  if (err.name === 'UnauthorizedError') {
    res.status(401).send('Invalid token');
  }
});

process.on('unhandledRejection', (reason, p) => {
  console.error('Unhandled Rejection at: Promise ', p, ' reason: ', reason);
});

module.exports = server;
