{
  "name": "{{name}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "coverage": "JWT_SECRET=foo RETHINK_HOST=localhost RETHINK_PORT=28015 RETHINK_NAME={{name}} PORT=3001  istanbul cover _mocha",
    "migrate": "node ./bin/migrate.js",
    "migration": "node ./bin/migration.js",
    "start": "node start",
    "test": "JWT_SECRET=foo RETHINK_HOST=localhost RETHINK_PORT=28015 RETHINK_NAME={{name}} PORT=3001 mocha"
  },
  "license": "ISC",
  "dependencies": {
    "jsen": "^0.6.0",
    "json-schema-deref-sync": "^0.2.8",
    "jsonwebtoken": "^5.4.1",
    "lodash": "^3.10.1",
    "required_env": "^1.0.0",
    "restify": "^4.0.3",
    "rethinkdbdash": "^2.2.8",
    "socket.io": "^1.3.7"
  },
  "devDependencies": {
    "mocha": "^2.4.5",
    "must": "^0.13.1",
    "istanbul": "^0.4.1",
    "json-schema-faker": "^0.2.5",
    "mustache": "^2.2.0",
    "node-fetch": "^1.3.3",
    "rimraf": "^2.4.4",
    "socket.io-client": "^1.3.7"
  }
}
