const _ = require('lodash');
const fs = require('fs');
const path = require('path');

const r = require('root/lib/db');
const migrate = require('root/lib/migrate');
const schema = require('root/schema');

const tables = fs.readdirSync('./tables').map(table => {
  return require(path.resolve('./tables', path.parse(table).name));
});

const getIndexes = tableName => {
  return r.table(tableName).indexList().run()
    .then(indexes => [tableName, indexes])
}

module.exports = () => {
  return r.dbCreate(process.env.RETHINK_NAME).run()
  .catch((err) => {
    var arr = err.message.split('\n');
    if (arr[0] === 'Database `'+process.env.RETHINK_NAME+'` already exists in:') return;
    throw err;
  })
  .then(() => {
    return Promise.all(tables.map(table => table()))
  })
  .then(() => {
    if (process.env.AUTOMIGRATE === 'true') return migrate.up();
    return null;
  })
  .then(() => {
    return r.tableList().run()
    .then(tables => Promise.all(tables.map(getIndexes)))
    .then(_.zipObject)
    .then(indexes => schema.indexes = indexes);
  });
};
