const fs = require('fs');
const path = require('path');
const db = require('lib/db_helper');

const r = require('lib/db');
const migrate = require('lib/migrate');
const schema = require('schema');
const DB_NAME = db.getName();

const tables = fs.readdirSync('./tables').map(table => {
  return require(path.resolve('./tables', path.parse(table).name));
});

module.exports = () => {
  return r.dbCreate(DB_NAME).run()
  .catch((err) => {
    const arr = err.message.split('\n');
    if (arr[0] === `Database \`${DB_NAME}\` already exists in:`) return;
    throw err;
  })
  .then(() => Promise.all(tables.map(table => table())))
  .then(() => {
    if (process.env.AUTOMIGRATE === 'true') return migrate.up();
    return null;
  })
  .then(schema.setIndexes);
};
