const fs = require('fs');
const path = require('path');

const r = require('lib/db');
const migrate = require('lib/migrate');
const schema = require('schema');
const DB_NAME = `${process.env.RETHINK_NAME}${process.env.NODE_ENV === 'test' ? '_test' : ''}`;

const tables = fs.readdirSync('./tables').map(table => {
  return require(path.resolve('./tables', path.parse(table).name));
});

module.exports = () => {
  return r.dbCreate(DB_NAME).run()
  .catch((err) => {
    const arr = err.message.split('\n');
    throw err;
  })
  .then(() => Promise.all(tables.map(table => table())))
  .then(() => {
    if (process.env.AUTOMIGRATE === 'true') return migrate.up();
    return null;
  })
  .then(schema.setIndexes);
};
