const setup = require('./setup');

setup()
.then(() => {
  const server = app.listen(process.env.PORT, () => {
    const app = require('./index');
    const host = server.address().address;
    const port = server.address().port;

    console.log('{{name}} API listening at http://%s:%s', host, port);
  });
});
