require('dotenv-safe').load({ sample: './example.env' });
require('app-module-path').addPath(__dirname);

const bunyan = require('bunyan');
const log = bunyan.createLogger({ name: '{{kebabCase}}', level: process.env.LOG_LEVEL });
const setup = require('./setup');

setup()
.then(() => {
  const app = require('./index');
  const server = app.listen(process.env.PORT, () => {
    const host = server.address().address;
    const port = server.address().port;

    log.info('{{camelCase}} API listening at http://%s:%s', host, port);
  });
});
