require('app-module-path').addPath(__dirname);
require('dotenv').config();

const fs = require('fs');
require('required_env')(fs.readdirSync('./env').reduce((r, file) => {
  return r.concat(require('./env/'+file));
}, []));

const setup = require('./setup');

setup()
.then(() => {
  const app = require('./index');
  const server = app.listen(process.env.PORT, () => {
    const host = server.address().address;
    const port = server.address().port;

    console.log('{{name}} API listening at http://%s:%s', host, port);
  });
});
