const Router = require('express').Router;
const jwt = require('express-jwt');

const OPTS = {
  secret: process.env.JWT_SECRET,
  getToken: req => {
    const auth = req.headers.authorization;

    if (auth && auth.split(' ')[0] === 'Bearer') return auth.split(' ')[1];
    else if (req.query && req.query.token) return req.query.token;
    return null;
  }
};

module.exports = {
  http: Router()
    .get('/jwt/verify', jwt(OPTS), (req, res, next) => {
      res.sendStatus(200);
      return next();
    }),
  ws: () => {}
};
