const jsen = require('jsen');

const db = require('../lib/db.js');
const validate = jsen(require('../schemas/{{name}}.json'));

const firstChange = res => {
  return {
    result: res.changes[0].new_val || res.changes[0],
    old_val: res.changes[0].old_val
  }
}

const wrapResult = res => {
  return {result: res}
}

module.exports = {
  get: (params) => {
    if (params && params.id) return db.table('{{pluralName}}').get(params.id).run()
    .then(wrapResult)

    return db.table('{{pluralName}}').run()
    .then(wrapResult)
  },
  create: ({{name}}) => {
    const valid = validate({{name}});
    if (!valid) return Promise.reject(valid);
    return db.table('{{pluralName}}').insert({{name}}, {returnChanges: true}).run()
    .then(firstChange);
  },
  update: ({{name}}) => {
    const valid = validate({{name}});
    if (!valid) return Promise.reject(valid);
    return db.table('{{pluralName}}').update({{name}}, {returnChanges: true}).run()
    .then(firstChange);
  },
  delete: (id) => {
    return db.table('{{pluralName}}').get(id).delete({returnChanges: true}).run()
    .then(firstChange);
  }
};
