const _ = require('lodash');
const r = require('../lib/db');
const controller = require('../lib/controller');
const rethinkdb = require('../lib/rethinkdb');
const schema = require('../lib/schema');

module.exports = {
  get: (params) => {
    const table = r.table('{{pluralName}}');

    if (params.id) {
      return table.get(params.id).run()
      .then(res => { return {result: res} });
    }

    params = _.assign({result: true, order: 'asc'}, controller.normaliseParams(params));


    const filteredTable = schema.filter('{{name}}', params, table);
    const query = rethinkdb.buildQuery(filteredTable, params);

    const taggedQueries = [
      {tag: 'result', q: query},
      {tag: 'count', q: filteredTable.count()}
    ].filter(x => params[x.tag]);

    return Promise.all(taggedQueries.map(x => x.q.run()))
    .then(results => {
      return results.reduce((response, result, i) => {
        const tag = taggedQueries[i].tag;
        response[tag] = result;
        if (tag === 'count' && result > 0) response.found = true;
        if (tag === 'response' && result.length > 0) response.found = true;
        return response;
      }, {found: false});
    });
  },
  watch: (params) => {
    const table = r.table('{{pluralName}}');

    if (params.id) {
      return table.get(params.id).changes({includeInitial: true, includeStates: true}).run()
      .then(cursor => {
        return {
          cursor: cursor,
          unindexed: false
        };
      });
    }

    params = _.assign({order: 'asc'}, controller.normaliseParams(params));

    const filteredTable = schema.filter('{{name}}', params, table);
    const query = rethinkdb.buildQuery(filteredTable, params);

    return table.getAll(r.args(query.getField('id').coerceTo('array'))).changes({includeInitial: true, includeStates: true}).run()
    .then(cursor => {
      return {
        cursor: cursor,
        unindexed: true
      };
    });
  },
  create: ({{name}}) => {
    const valid = schema.validate({{name}});
    if (!valid) return Promise.reject(valid);
    return r.table('{{pluralName}}').insert({{name}}, {returnChanges: true}).run()
    .then(rethinkdb.firstChange);
  },
  update: ({{name}}) => {
    const valid = schema.validate({{name}});
    if (!valid) return Promise.reject(valid);
    return r.table('{{pluralName}}').update({{name}}, {returnChanges: true}).run()
    .then(rethinkdb.firstChange);
  },
  delete: (id) => {
    return r.table('{{pluralName}}').get(id).delete({returnChanges: true}).run()
    .then(res => {
      return res;
    })
    .then(rethinkdb.firstChange);
  }
};
