const generate = require('json-schema-faker');
const appSchema = require('../schema.js').getSchema();
const schema = appSchema.{{name}};

module.exports = {
  valid: () => {
    return generate(schema);
  }
};
