const _ = require('lodash');
const {{name}} = require('../controllers/{{name}}.js');

const errHandlerFactory = res => {
  return err => {
    console.error('route error', err.message);
    res.status(500);
    res.json(err);
  }
};

const respond = res => body => {
  if (!body.result || (Array.isArray(body.result) && body.result.length === 0)) {
    res.status(404);
    return Promise.resolve(res.json({err: 'Not found'}));
  }
  return Promise.resolve(res.json(body));
};

module.exports = app => {
  app.get('/{{pluralName}}', (req, res) => {
    {{name}}.get()
    .then(respond(res))
    .catch( errHandlerFactory(res) )
  });

  app.get('/{{pluralName}}/:id', (req, res) => {
    {{name}}.get({id: req.params.id})
    .then(respond(res))
    .catch( errHandlerFactory(res) )
  });

  app.post('/{{pluralName}}', (req, res) => {
    {{name}}.create(req.body)
    .then(respond(res))
    .catch( errHandlerFactory(res) )
  });

  app.post('/{{pluralName}}/:id', (req, res) => {
    {{name}}.update(req.body)
    .then(respond(res))
    .catch( errHandlerFactory(res) )
  });

  app.del('/{{pluralName}}/:id', (req, res) => {
    {{name}}.delete(req.params.id)
    .then(respond(res))
    .catch( errHandlerFactory(res) )
  });
};
