{{=<% %>=}}
{
  "type": "object",
  "name": "<%name%>",
  "pluralName": "<%pluralName%>",
  "properties": {
    "id": {
      "type": "string",
      "faker": "random.uuid"
    },
    "name": {
      "type": "string",
      "faker": "name.findName"
    <%#relationships%>
    },
    "<%name%>": {
      "type": "string",
      "faker": "random.uuid",
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
    <%/relationships%>
    }
  },
  <%#hasRelationships%>
  "links": [
    <%#relationships%>
    {
      "rel": "<%name%>",
      "href": "/<%pluralName%>/{<%name%>}"
    }<%^isLast%>,<%/isLast%>
    <%/relationships%>
  ],
  <%/hasRelationships%>
  "required": ["name"]
}
