const r = require('../lib/db.js');

module.exports = () => {
  return r.tableCreate('{{pluralName}}').run()
  .catch((err) => {
    let errMsg = `Table \`${process.env.RETHINK_NAME}`;
    errMsg += `.{{pluralName}}\` already exists in:`;
    if (err.message.split('\n')[0] === errMsg) return;
    throw err;
  })
  .then(() => {
    r.table('{{pluralName}}').wait().run();
  });
};
