const test = require('blue-tape');
const fetch = require('node-fetch');
const _ = require('lodash');
const fixture = require('../fixtures/{{name}}');
const IO = require('socket.io-client');

const assertOk = (t) => {
  return (res) => {
    return t.ok(res.ok, 'statusCode is 2xx');
  }
};

const unwrapJSON = (res) => {
  return res.json()
  .then(json => {
    return json;
  })
  .then(json => json.result);
}

const unwrapOldVal = (res) => {
  return res.json()
  .then(json => json.old_val);
}

const getJSON = (suffix) => {
  return fetch(url+suffix)
  .then(unwrapJSON);
}

const url = 'http://localhost:'+process.env.PORT;

const sender = method => suffix => data => {
  return fetch(url+suffix, {
    method: method,
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify( data )
  });
};

const poster = sender('post');
const putter = sender('put');

const deleter = suffix => () => {
  return fetch(url+suffix, {
    method: 'delete',
    headers: {
      'Accept': 'application/json',
    }
  });
};

const {{name}}Poster = poster('/{{pluralName}}')

const {{name}}Creator = times => {
  return Promise.all(_.times(times, () => {
    const data = fixture.valid();
    return {{name}}Poster(data)
    .then(unwrapJSON)
  }));
};

const pop = data => data[0];

const single{{name}}Creator = () => {{name}}Creator(1).then(pop);

test('POSTing a valid sprint should return 200', (t) => {
  const {{name}} = fixture.valid();
  return {{name}}Poster({{name}})
  .then(assertOk(t));
});

test('GET /{{pluralName}}/:id should return 200', (t) => {
  return single{{name}}Creator()
  .then(body => fetch(url+'/{{pluralName}}/'+body.id))
  .then(assertOk(t));
});

test('GET /{{pluralName}} should return 200', (t) => {
  return single{{name}}Creator()
  .then(() => fetch(url+'/{{pluralName}}'))
  .then(assertOk(t));
});

test('GET /{{pluralName}} should return an object with a .result property', (t) => {
  return single{{name}}Creator()
  .then(() => fetch(url+'/{{pluralName}}'))
  .then(res => res.json())
  .then(json => {
    t.equal(typeof json, 'object');
    t.ok(json.result);
  });
});

test('GET /{{pluralName}} should accept search params in the querystring', (t) => {
  return {{name}}Creator(2)
  .then({{pluralName}} => {
    return getJSON('/{{pluralName}}?name='+{{pluralName}}[0].name)
    .then(json => {
      t.equal(json.length, 1);
      t.equal(json[0].name, {{pluralName}}[0].name);
    });
  });
});

test('GET /{{pluralName}} should not match non-property search params in the querystring', (t) => {
  return {{name}}Creator(2)
  .then({{pluralName}} => {
    return getJSON('/{{pluralName}}?foo='+{{pluralName}}[0].name)
    .then(json => {
      t.ok(json.length > 1);
    });
  });
});

test('GET /{{pluralName}} should return an array', (t) => {
  return single{{name}}Creator()
  .then(() => getJSON('/{{pluralName}}'))
  .then(json => {
    t.ok(Array.isArray(json));
  });
});

test('GET /{{pluralName}} should paginate if asked', (t) => {
  return {{name}}Creator(5)
  .then(() => getJSON('/{{pluralName}}?limit=2'))
  .then(json => {
    t.equal(json.length, 2);
  });
});

test('GET /{{pluralName}} should skip if asked', (t) => {
  return {{name}}Creator(5)
  .then(() => getJSON('/{{pluralName}}?limit=2'))
  .then(first => {
    t.equal(first.length, 2);
    return getJSON('/{{pluralName}}?limit=2&skip=2')
    .then(second => {
      t.equal(second.length, 2);
      t.notDeepEqual(first, second);
    });
  });
});

test('GET /{{pluralName}}?count=true&limit=n should return n matching docs with a count of all matching docs ', (t) => {
  return {{name}}Creator(10)
  .then(() => fetch(url+'/{{pluralName}}?count=true&limit=5'))
  .then(res => res.json())
  .then(json => {
    t.equal(json.result.length, 5);
    t.ok(json.count);
    t.ok(json.count > 5);
  });
});

test('GET /{{pluralName}}?limit=n should return n matching docs without a count of all matching docs ', (t) => {
  return {{name}}Creator(10)
  .then(() => fetch(url+'/{{pluralName}}?limit=5'))
  .then(res => res.json())
  .then(json => {
    t.equal(json.result.length, 5);
    t.ok(!json.count);
  });
});

test('GET /{{pluralName}}?count=true&result=false should return only a count with no matching docs', (t) => {
  return {{name}}Creator(10)
  .then(() => fetch(url+'/{{pluralName}}?count=true&result=false'))
  .then(res => res.json())
  .then(json => {
    t.ok(!json.result, 'has no result');
    t.ok(json.count, 'has a count');
    t.ok(json.count > 5, 'count is greater than 5');
  });
});


test('POSTing a valid {{name}} should actually persist it', (t) => {
  return single{{name}}Creator()
  .then(spec => {
    return getJSON('/{{pluralName}}/'+spec.id)
    .then((json) => {
      t.equal(json.name, spec.name);
    });
  });
});

test('PUTing an updated {{name}} should actually persist it', (t) => {
  return single{{name}}Creator()
  .then(body => {
    body.name = 'Something else';
    return body
  })
  .then(body => putter('/{{pluralName}}/'+body.id)(body))
  .then(unwrapJSON)
  .then(body => getJSON('/{{pluralName}}/'+body.id))
  .then((json) => {
    t.equal(json.name, 'Something else');
  });
});

test('DELETEing a {{name}} should return 200', (t) => {
  return single{{name}}Creator()
  .then(body => deleter('/{{pluralName}}/'+body.id)())
  .then(assertOk(t));
});

test('DELETEing a {{name}} should actually delete it', (t) => {
  return single{{name}}Creator()
  .then(body => deleter('/{{pluralName}}/'+body.id)())
  .then(unwrapOldVal)
  .then(body => fetch(url+'/{{pluralName}}/'+body.id))
  .then(res => {
    t.equal(res.status, 404);
  });
});

test('opening a websocket connection to a {{name}} should return it', (t) => {
  return single{{name}}Creator()
  .then(body => {
    return new Promise(resolve => {
      const io = IO(url+'/{{pluralName}}', {query: 'id='+body.id, forceNew: true});
      io.on('record', data => {
        resolve(data.new_val);
        io.disconnect();
      });
    })
    .then(data => {
      t.deepEqual(data, body);
    });
  });
});

test('opening a websocket connection to {{pluralName}} should return all of them', (t) => {
  return {{name}}Creator(2)
  .then(body => {
    return new Promise(resolve => {
      const io = IO(url+'/{{pluralName}}', {forceNew: true});
      var count = 0;
      io.on('record', () => {
        count++;
        if (count > 1) {
          resolve();
          io.disconnect();
        }
      });
    });
  });
});

test('opening a websocket connection to {{pluralName}} should return changed documents', (t) => {
  return single{{name}}Creator()
  .then(body => {
    return new Promise(resolve => {
      const io = IO(url+'/{{pluralName}}', {forceNew: true});
      io.on('state', data => {
        if (data.state === 'ready') {
          const target = _.assign({}, body, {name: 'ohai'});
          io.on('record', data => {
            t.deepEqual(data.new_val, target);
            t.notDeepEqual(data.new_val, body);
            io.disconnect();
            resolve();
          });
          putter('/{{pluralName}}/'+body.id)(target)
        };
      });
    });
  });
});

test('websockets should accept the same filter params as GET requests', (t) => {
  {{name}}Creator(2)
  .then({{pluralName}} => {
    const target = {{pluralName}}[0];
    return new Promise(resolve => {
      const io = IO(url+'/{{pluralName}}', {query: {name: target.name}, forceNew: true});
      io.on('record', data => {
        t.deepEqual(data.new_val, target);
      });
      io.on('state', data => {
        if (data.state != 'ready') return;
        io.disconnect();
        t.end();
      });
    });
  });
});
