require('dotenv-safe').load({ sample: './example.env' });
require('must');

const path = require('path');
require('app-module-path').addPath(path.resolve(__dirname, '..'));

const setup = require('setup');
const app = require('index');
const r = require('lib/db');

const DB_NAME = process.env.RETHINK_NAME;

app.listen(process.env.PORT, () => {
  before(function before() {
    this.timeout(30000);

    return setup()
      .then(() => {
        after(() => {
          return r.dbDrop(DB_NAME)
            .then(() => r.getPoolMaster().drain())
            .then(() => Promise.resolve(app.close()));
        });
      });
  });
});
